<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.franchisehelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_franchise"
        android:label="Franchise Management System"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="Franchise Management System"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserAct"
            android:label="Franchise Management System"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminLoginPanel" />
        <activity
            android:name=".SignUpActivity">
        </activity>
    </application>
</manifest>
